@page {
  size: 8.75in 11.25in;
  margin: 0.725in;
  margin-bottom: 0.875in;
}
@page chapter {
  @bottom-center {
    content: none;
  }
}
@page chapter :left {
  @bottom-left-corner {
    margin-bottom: 0.125in;
    content: counter(page);
    font: 20pt "Lexend";
  }
}
@page chapter :right {
  @bottom-right-corner {
    margin-bottom: 0.125in;
    content: counter(page);
    font: 20pt "Lexend";
  }
}
@page chapter_10_illustration_page {
  margin-top: 8.5in;
}
@page chapter_14_illustration_page {
  margin-top: 8.5in;
}
.chapter_14_illustration_page .after-forced-mid-paragraph-page-break {
  text-indent: 3.5in;
}

img.full-page {
  max-width: 8.75in;
  max-height: 11.25in;
}
img.chapter-header {
  width: 8.75in;
  margin-left: -1.025in;
  margin-right: -0.725in; 
}
img.ending {
  width: 8.75in;
  margin-right: -1.025in;
  margin-left: -0.725in; 
}

.chapter p {
  font: 20pt "Lexend";
  margin-bottom: 1.2em;
  text-indent: 0;
  line-height: 1.5;
  text-align: left;
}
.copyright-page p {
  font: 20pt "Lexend";
}
.copyright-page table {
  font: 20pt "Lexend";
}
h2 {
  font: 22pt "Alegreya SC";
  font-weight: 800;
}
.chapter-title {
  font: 30pt "Alegreya SC";
  font-weight: 800;
}
em {
  font-style: normal;
  font-weight: bold;
}

