a {
  color: black;
  text-decoration: none;
}

@page full_page_image {
  margin: 0;
  @top-center {
    content: none;
  }
  @bottom-center {
    content: none;
  }
}
@page chapter_7_illustration_page {
  background-image: url('/media/ravelling-wrath/illustrations/7-left.png?rr');
  background-position: bottom;
  background-size: 100vw auto;
  @bottom-center {
    content: none;
  }
}
@page chapter_10_illustration_page {
  background-image: url('/media/ravelling-wrath/illustrations/10-right.png?rr');
  background-position: top;
  background-size: 100vw auto;
  @top-center {
    content: none;
  }
}
@page chapter_14_illustration_page {
  background-image: url('/media/ravelling-wrath/illustrations/14-left.png?rr');
  background-position: top;
  background-size: 100vw auto;
  @top-center {
    content: none;
  }
}
.chapter {
  break-before: right;
}
.chapter_7_illustration_page {
  page: chapter_7_illustration_page;
}
.chapter_10_illustration_page {
  page: chapter_10_illustration_page;
}
.chapter_14_illustration_page {
  page: chapter_14_illustration_page;
}

.force-break-before {
  break-before: page;
}

img.full-page {
  width: 100vw;
  height: auto;
  page: full_page_image;
}
